In [1]:
# Import Librarie

import pandas as pd

In [2]:
# Load Dataset

df= pd.read_csv(r'zomato.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,0,0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,1,1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,2,2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,3,3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,4,4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur

In [3]:
# drop these two columns because these two columns are not usefull

df.drop(['Unnamed: 0.1', 'Unnamed: 0'],axis=1,inplace=True)

## Column Descriptions:

Column Descriptions:

restaurant name: Name of the restaurant.

restaurant type	: Type/category of restaurant.

rate (out of 5): Average customer rating out of 5.

num of ratings:	Number of user ratings/reviews.

avg cost (two people): Average cost for two people in currency.

online_order: Whether the restaurant accepts online orders.

table booking: Whether the restaurant allows table booking.

cuisines type: Types of cuisines served (can be multiple).

area: Local area or locality of the restaurant.	

local address: Full address or description of location.

## Data Understanding

In [4]:
# Check the shape of the data (rows and columns)

print ('No. of Rows:',df.shape[0])
print('No. of Columns:', df.shape[1])

No. of Rows: 7105
No. of Columns: 10

## Handle Duplicates

In [5]:
# Check Duplicates
df.duplicated().sum()

0

In [6]:
# Check info of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   restaurant name        7105 non-null   object
 1   restaurant type        7105 non-null   object
 2   rate (out of 5)        7037 non-null   float64
 3   num of ratings         7105 non-null   int64
 4   avg cost (two people)  7048 non-null   float64
 5   online_order           7105 non-null   object
 6   table booking          7105 non-null   object
 7   cuisines type          7105 non-null   object
 8   area                   7105 non-null   object
 9   local address          7105 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 555.2+ KB

## Handle Missing Values

In [7]:
# Check null values

df.isnull().sum()/df.shape[0]*100

restaurant name          0.000000
restaurant type          0.000000
rate (out of 5)          0.957072
num of ratings           0.000000
avg cost (two people)    0.802252
online_order             0.000000
table booking            0.000000
cuisines type            0.000000
area                     0.000000
local address            0.000000
dtype: float64

In [8]:
# # Remove the missing values

df.dropna(inplace=True)

Justification for Dropping:

The percentage of missing data is very low (under 1% is generally considered safe to drop).

Imputing values (e.g., filling with mean or median) might distort the true averages, especially for ratings.

In [9]:
# after droped the null values
df.isnull().sum()/df.shape[0]*100

restaurant name          0.0
restaurant type          0.0
rate (out of 5)          0.0
num of ratings           0.0
avg cost (two people)    0.0
online_order             0.0
table booking            0.0
cuisines type            0.0
area                     0.0
local address            0.0
dtype: float64

##  Save Cleaned Dataset to CSV

In [23]:
df.to_csv('zomato_cleaned.csv', index=False)